################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EFCoreTransactions/bin/Debug/net6.0
/EFCoreTransactions/obj
/HtmlToPdfConverter/bin/Debug/net6.0
/HtmlToPdfConverter/obj
/SpreadsheetGenerator/bin/Debug/net6.0
/SpreadsheetGenerator/obj
